---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-text-mining/resources/d9pwm) course resource._

---

# Assignment 1

In this assignment, you'll be working with messy medical data and using regex to extract relevant infromation from the data. 

Each line of the `dates.txt` file corresponds to a medical note. Each note has a date that needs to be extracted, but each date is encoded in one of many formats.

The goal of this assignment is to correctly identify all of the different date variants encoded in this dataset and to properly normalize and sort the dates. 

Here is a list of some of the variants you might encounter in this dataset:
* 04/20/2009; 04/20/09; 4/20/09; 4/3/09
* Mar-20-2009; Mar 20, 2009; March 20, 2009;  Mar. 20, 2009; Mar 20 2009;
* 20 Mar 2009; 20 March 2009; 20 Mar. 2009; 20 March, 2009
* Mar 20th, 2009; Mar 21st, 2009; Mar 22nd, 2009
* Feb 2009; Sep 2009; Oct 2010
* 6/2008; 12/2009
* 2009; 2010

Once you have extracted these date patterns from the text, the next step is to sort them in ascending chronological order accoring to the following rules:
* Assume all dates in xx/xx/xx format are mm/dd/yy
* Assume all dates where year is encoded in only two digits are years from the 1900's (e.g. 1/5/89 is January 5th, 1989)
* If the day is missing (e.g. 9/2009), assume it is the first day of the month (e.g. September 1, 2009).
* If the month is missing (e.g. 2010), assume it is the first of January of that year (e.g. January 1, 2010).
* Watch out for potential typos as this is a raw, real-life derived dataset.

With these rules in mind, find the correct date in each note and return a pandas Series in chronological order of the original Series' indices.

For example if the original series was this:

    0    1999
    1    2010
    2    1978
    3    2015
    4    1985

Your function should return this:

    0    2
    1    4
    2    0
    3    1
    4    3

Your score will be calculated using [Kendall's tau](https://en.wikipedia.org/wiki/Kendall_rank_correlation_coefficient), a correlation measure for ordinal data.

*This function should return a Series of length 500 and dtype int.*

In [82]:
import pandas as pd
import re as regex
doc = []
with open('dates.txt') as file:
    for line in file:
        doc.append(line)

df = pd.Series(doc)
df.iloc[300:350]

300    .Since January 1994, she feels that hse has be...
301    S/p colectomy in Dec 1992.Problems ANXIETY : D...
302    Hx of 3 instances that pt believes were concus...
303    7 first psych hospital approx age 20, most rec...
304    past suicidal gestures by overdose (trazodone/...
305    . The patient was hospitalized in Feb 2000 at ...
306                   May, 2004 Hx of Brain Injury: No\n
307    invasive ductal carcinoma of the left breast(s...
308    dCelexa: most helpful, came off half-way throu...
309    Pt put on a 504 at the beginning of 10 th grad...
310    eZoloft : dizziness and tiredness (only 1 dose...
311    - Prozac 20 mg daily:  February, 1995: self-di...
312    .On review of systems, she reports that her sl...
313    nLoss of father to cardiac event in Decemeber ...
314                           a Saddle PE January 2007\n
315    rBrookhaven outpatient program in Jun 1976- lo...
316    2 cats-3 family house-planning to move in May ...
317    . Psychosocial: lives w/ father, looking to ge...
318                      ) Paxil (Jan 1978) : sedation\n
319    . Other collateral, noted in a July 1975 note ...
320    50 yo man with history consistant with ADHD un...
321                 2June, 1999 Audit C Score Current:\n
322    Mother died October 1991; very close. Father s...
323    4ectopic pregnancy in March 1973 Pertinent Med...
324    Hep C and HIV negative, LFTs WNL (October 1996...
325    .She has however developed severe anxiety and ...
326    . Once off Cymbalta, mood was stable and good,...
327    yEnd stage renal disease : Secondary to obstru...
328    s Pt reports long Hx of drug addiction. PLEASE...
329    CLLC and DCF - ended in March, 2000. Psychiatr...
330    "-worked with Uma Dewitt (ED specialist) x 10 ...
331    Prozac- highest dose 40 mg; currently on 20 mg...
332    )last use in June 1974.Longitudinal Alcohol us...
333           sNovember 1997 - suicidal ideation - HHR\n
334    sAppendectomy in July 1986, shortly after deli...
335    Open appendectomy, as a child. 2.  Laparoscopi...
336    sOcella 0.03-3MG TABLET Take 1 PO QD, next pap...
337    sWas on lexapro and strattera with good result...
338    2Last time received treatment was from a life ...
339    Currently on Zoloft, 50 mg, Dicolenac, 100 mg,...
340    Future-oriented; recent increase in hope; in s...
341    .Nov 2007- Evaluation and treatment at CH ED/A...
342    5Bethania Hospital March 1976 Hx of Outpatient...
343                        6/1998 Primary Care Doctor:\n
344    s 52 y/o MWM h/o chronic depression, anxiety, ...
345                    10/1973 Hx of Brain Injury: Yes\n
346                        9/2005 Primary Care Doctor:\n
347    s 03/1980 Positive PPD: treated with INH for 6...
348    12/2005 Family Psych History: Family History o...
349                        5/1987 Primary Care Doctor:\n
dtype: object

In [124]:
def date_sorter():
    
    answer_df = pd.DataFrame()
    
    #mm/dd/yy
    date_format1 = '(?P<month>\d{1,2})[-/](?P<day>\d{1,2})[-/](?P<year>\d{4})'
    df1 = df.str.extractall(date_format1)
    
    #two-digit-years
    date_format2 = '(?P<month>\d{1,2})[-/](?P<day>\d{1,2})[-/](?P<year>\d{2})'
    df2 = df.str.extractall(date_format2)
    df2['year'] = df2['year'].apply(lambda x: '19'+x)
    
    #day is missing
    date_format3 = '(?P<month>\d{1,2})[-/](?P<year>\d{4})'
    df3 = df.str.extractall(date_format3)
    df3['day'] = 1
    #to rearrange the columns
    df3 = df3[['month', 'day', 'year']]
  
    #only year
    date_format4 = '(?P<year>[12]\d{3})'
    df4 = df.str.extractall(date_format4)
    df4['month'] = 1
    df4['day'] = 1
    
    #months with words
    date_format5 = '(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\w*)[\s\.-]+(?P<day>\d{1,2})\D{1,2}(?P<year>\d{4})'
    df5 = df.str.extractall(date_format5)
    #create dictionary for months
    months = {'Jan': 1, 'January':1,
                  'Feb': 2, 'February': 2,
                  'March': 3, 'Mar':3,
                  'Apr': 4, 'April':4,
                  'May': 5,
                  'June': 6, 'Jun': 6,
                  'July': 7, 'Jul': 7,
                  'Aug': 8, 'August': 8,
                  'September': 9, 'Sep': 9,
                  'October': 10, 'Oct': 10,
                  'Nov': 11, 'November': 11,
                  'Dec': 12, 'December': 12}
    #df5.replace(months, inplace=True)
    
    date_format6 = '(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))\D{1,}(?P<year>\d{4})'
    df6 = df.str.extractall(date_format6)
    df6['day'] = 1
    #to rearrange the columns
    df6 = df6[['month', 'day', 'year']]
    
    date_format7 = '(?P<day>\d{1,2})[\s\.-]*(?P<month>(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec))\D{1,}(?P<year>\d{4})'
    df7 = df.str.extractall(date_format7)
    #to rearrange the columns
    df7 = df7[['month', 'day', 'year']]
    
    frames = [df1, df2, df3, df4, df5, df6, df7]
    answer_df = pd.concat(frames)
    
    #removing duplicates by cleaning some data
    answer_df.replace(months, inplace=True)
    answer_df['day'] = answer_df['day'].apply(lambda x: str(x))
    answer_df['month'] = answer_df['month'].apply(lambda x: str(x))
    answer_df['year'] = answer_df['year'].apply(lambda x: str(x))
    answer_df['day'] = answer_df['day'].apply(lambda x: x[1:] if(x[0]=='0') else x)
    answer_df['month'] = answer_df['month'].apply(lambda x: x[1:] if(x[0]=='0') else x)
    answer_df = answer_df.drop_duplicates().reset_index().drop('level_0',axis=1)
    answer_df['full'] = answer_df['month'] +'/'+ answer_df['day'] + '/' + answer_df['year']
    #answer_df['full'] = pd.to_datetime(answer_df.full)
    answer_df.drop(176,inplace=True, axis=0)
    answer_df = answer_df.sort_values(by='year')
    return answer_df

date_sorter()

     match day month  year        full
84       0  20     8  1919   8/20/1919
80       0  11    10  1919  10/11/1919
39       0  24     5  1919   5/24/1919
42       0  13    10  1919  10/13/1919
103      0   5     1  1919    1/5/1919
89       0  29     7  1919   7/29/1919
121      0  11     4  1919   4/11/1919
70       0  15     2  1919   2/15/1919
49       0  25     7  1919   7/25/1919
63       0  27     7  1919   7/27/1919
55       0  31     3  1919   3/31/1919
111      0   9     8  1919    8/9/1919
120      0   8    12  1919   12/8/1919
108      0   7     7  1919    7/7/1919
94       0   3    11  1919   11/3/1919
68       0  13     4  1920   4/13/1920
40       0  25     1  1920   1/25/1920
118      0   8     4  1920    4/8/1920
83       0   5    12  1920   12/5/1920
59       0  12     5  1920   5/12/1920
144      0  27     4  1920   4/27/1920
135      0  20     7  1920   7/20/1920
109      0  14     9  1920   9/14/1920
132      0  11     2  1920   2/11/1920
128      0  18     7  1920   7/18/1920
98       1  36     9  1930   9/36/1930
78       0  11     7  1971   7/11/1971
110      0  18     5  1971   5/18/1971
34       0  10     4  1971   4/10/1971
53       0  12     9  1971   9/12/1971
..     ...  ..   ...   ...         ...
224      0   1     4  2012    4/1/2012
476      0  21    10  2012  10/21/2012
348      0  25     6  2012   6/25/2012
451      0   1    11  2012   11/1/2012
290      0   1     1  2012    1/1/2012
5        0  12     5  2012   5/12/2012
336      0   1     9  2012    9/1/2012
434      0   1     5  2012    5/1/2012
156      0   1    12  2012   12/1/2012
367      0   1    10  2012   10/1/2012
317      0   1     1  2013    1/1/2013
326      0  11    10  2013  10/11/2013
262      0   1     4  2013    4/1/2013
433      0   1     9  2013    9/1/2013
215      0   1     1  2014    1/1/2014
200      0   1     7  2014    7/1/2014
232      0   1    12  2014   12/1/2014
270      0   1    10  2014   10/1/2014
377      0   1     9  2015    9/1/2015
311      0   1     1  2015    1/1/2015
488      0  28     9  2015   9/28/2015
409      0   1    10  2015   10/1/2015
418      0   1     2  2016    2/1/2016
521      0  13    10  2016  10/13/2016
383      0   1    10  2016   10/1/2016
258      0   1     5  2016    5/1/2016
497      0  19    10  2016  10/19/2016
478      0  30     5  2016   5/30/2016
307      0   1     1  2016    1/1/2016
244      0   1    11  2016   11/1/2016

[529 rows x 5 columns]