In [1]:
text1 = 'Azamat is a cool boy!'
text2 = text1.split(' ')
text2

['Azamat', 'is', 'a', 'cool', 'boy!']

In [2]:
len(text2)

5

In [3]:
len(text1.split(' '))

5

In [4]:
ext = [w for w in text2 if len(w)>3]

In [5]:
ext

['Azamat', 'cool', 'boy!']

In [7]:
[w for w in text2 if w.istitle()]

['Azamat']

In [8]:
[w for w in text2 if w.endswith('t')]

['Azamat']

In [9]:
text3 = 'To be or not to be'

In [10]:
text4 = text3.split(' ')

In [11]:
text4

['To', 'be', 'or', 'not', 'to', 'be']

In [12]:
set(text4)

{'To', 'be', 'not', 'or', 'to'}

In [14]:
set([w.lower() for w in text4])

{'be', 'not', 'or', 'to'}

## Word comparison

In [5]:
'azatat'.islower()

True

In [6]:
'aza' in 'azamat'

True

In [7]:
'aza' in 'Azamat'

False

In [8]:
'fwef324'.isalnum()

True

In [9]:
'%4ji3j%$'.isalnum()

False

In [13]:
st = '3498'
if not st.isdigit():
    print('fuckit')
else:
    print('not')

not

In [14]:
'Azamat'.titlecase()

AttributeError: 'str' object has no attribute 'titlecase'

In [15]:
'Azamat'.replace('a', 'b')

'Azbmbt'

In [16]:
' '.join(['1','2','3','4','5'])

'1 2 3 4 5'

In [26]:
import re
txt = 'Electric Daisy is going to be sick @martin_garrix #ultra #edm'
txt_ = txt.split(' ')
[w for w in txt_ if re.search('@[A-Za-z0-9]', w)]

['@martin_garrix']

In [21]:
text7 = '@UN @UN_Women "Ethics are built right into the ideals and objectives of the United Nations" \
#UNSG @ NY Society for Ethical Culture bit.ly/2guVelr'
text8 = text7.split(' ')

In [27]:
import re # import re - a module that provides support for regular expressions

[w for w in text8 if re.search('@[A-Za-z0-9_]+', w)]

['@UN', '@UN_Women']

In [30]:
txt1 = 'ougadagou'
re.findall('[aeoui]', txt1)

['o', 'u', 'a', 'a', 'o', 'u']

In [33]:
re.findall('[^aeuoi]', txt1)

['g', 'd', 'g']

# Working with Regexr in pandas

In [34]:
import pandas as pd

In [36]:
time_sentences = ["Monday: The doctor's appointment is at 2:45pm.", 
                  "Tuesday: The dentist's appointment is at 11:30 am.",
                  "Wednesday: At 7:00pm, there is a basketball game!",
                  "Thursday: Be back home by 11:15 pm at the latest.",
                  "Friday: Take the train at 08:10 am, arrive at 09:00am."]
df = pd.DataFrame(time_sentences, columns=['text'])

In [37]:
df

                                                text
0     Monday: The doctor's appointment is at 2:45pm.
1  Tuesday: The dentist's appointment is at 11:30...
2  Wednesday: At 7:00pm, there is a basketball game!
3  Thursday: Be back home by 11:15 pm at the latest.
4  Friday: Take the train at 08:10 am, arrive at ...

In [40]:
df.text.str.len()

0    46
1    50
2    49
3    49
4    54
Name: text, dtype: int64

In [41]:
df.text.str.split(' ')

0    [Monday:, The, doctor's, appointment, is, at, ...
1    [Tuesday:, The, dentist's, appointment, is, at...
2    [Wednesday:, At, 7:00pm,, there, is, a, basket...
3    [Thursday:, Be, back, home, by, 11:15, pm, at,...
4    [Friday:, Take, the, train, at, 08:10, am,, ar...
Name: text, dtype: object

In [42]:
df.text.str.split().str.len()

0     7
1     8
2     8
3    10
4    10
Name: text, dtype: int64

In [45]:
df.text.str.count('\d')

0    3
1    4
2    3
3    4
4    8
Name: text, dtype: int64

In [46]:
df.text.str.findall('\d')

0                   [2, 4, 5]
1                [1, 1, 3, 0]
2                   [7, 0, 0]
3                [1, 1, 1, 5]
4    [0, 8, 1, 0, 0, 9, 0, 0]
Name: text, dtype: object

In [49]:
df.text.str.replace(r'\w+day\b', '???')

0          ???: The doctor's appointment is at 2:45pm.
1       ???: The dentist's appointment is at 11:30 am.
2          ???: At 7:00pm, there is a basketball game!
3         ???: Be back home by 11:15 pm at the latest.
4    ???: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [53]:
df.text.str.replace(r'(\w+day\b)', lambda x: x.groups()[0][:3])

0          Mon: The doctor's appointment is at 2:45pm.
1       Tue: The dentist's appointment is at 11:30 am.
2          Wed: At 7:00pm, there is a basketball game!
3         Thu: Be back home by 11:15 pm at the latest.
4    Fri: Take the train at 08:10 am, arrive at 09:...
Name: text, dtype: object

In [58]:
df.text.str.extract(r'(\d?\d):(\d\d)')

D:\INSTALL\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  """Entry point for launching an IPython kernel.

    0   1
0   2  45
1  11  30
2   7  00
3  11  15
4  08  10

In [59]:
df['text'].str.extractall(r'((\d?\d):(\d\d) ?([ap]m))')

                0   1   2   3
  match
0 0        2:45pm   2  45  pm
1 0      11:30 am  11  30  am
2 0        7:00pm   7  00  pm
3 0      11:15 pm  11  15  pm
4 0      08:10 am  08  10  am
  1       09:00am  09  00  am